/* Main Primary color */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v21/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKebukDQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
.full-size {
  height: 100vh;
  width: 100%;
}
.container-home {
  height: 100vh;
  width: 100%;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.menu {
  background: transparent;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 8px;
}
.menu ul {
  position: fixed;
  padding: 8px;
  margin: 2em;
  list-style: none;
}
.menu li {
  background: none ;
}
.menu a {
  font-family: var(--fonte-secondaria);
  color: white;
  margin: 8px;
  text-transform: capitalize;
}
body {
  --fonte-primaria: 'Playfair Display', serif;
  --fonte-secondaria: 'Roboto', sans-serif;
}

#ballon{
  animation:ballon 4s ease-in-out infinite alternate;
}
#girl {
  animation: girl 4s ease-in-out infinite alternate;
}
@keyframes ballon {
  from {
    transform: rotateX(0deg);
  }
  to{
    transform: rotateX(20deg);
  }
}
@keyframes girl{
  from {
    transform: rotateX(0deg);
  }
  to{
    transform: rotateX(20deg);
  }
}
